.mantine-Tabs-list::before {
	border: none;
	height: 1px;
	background-color: var(--tab-border-color);
}

.mantine-Tabs-tab {
	border-bottom-width: 1px !important;
}

.podcast-details .mantine-Modal-body {
	padding: 0;
}

.podcast-details .mantine-Modal-inner>section {
	overflow: hidden;
	max-height: calc(100svh - 2rem);
	height: calc(100svh - 2rem);
}

.mantine-Card-root,
.episode-playlist-row-button {
	background-color: var(--mantine-color-gray-1);
}

.episode-playlist-row-button:hover {
	background-color: var(--mantine-color-gray-2);
}

.mantine-Tabs-list {
	flex-wrap: nowrap;
}

[data-mantine-color-scheme='dark'] .mantine-Card-root,
[data-mantine-color-scheme='dark'] .episode-playlist-row-button {
	background-color: var(--mantine-color-dark-6);
}

[data-mantine-color-scheme='dark'] .episode-playlist-row-button:hover {
	background-color: var(--mantine-color-dark-5);
}

.podcast-description {
	background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme='dark'] .podcast-description {
	background-color: var(--mantine-color-dark-6);
}

.bg-cover-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bg-blury-overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(5px);
	pointer-events: none;
}

[data-mantine-color-scheme='dark'] .bg-blury-overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(5px);
	pointer-events: none;
}

.mantine-Popover-dropdown {
	width: 50px !important;
}

.mantine-Tabs-tab:active,
.mantine-Tabs-tab:hover {
	background-color: unset;
}

.mantine-Tabs-tab:focus-visible {
	outline: unset;
}

button:focus-visible {
	outline: none !important;
}

/* Spin animation for download in progress icon */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spin {
	animation: spin 1s linear infinite;
}

/* Mobile */
@media (max-width: 767px) {
	.mantine-Tabs-tab {
		font-size: var(--mantine-font-size-xs);
		padding-block: var(--mantine-spacing-sm);
	}
}