.mantine-Tabs-list::before {
	border: none;
	height: 1px;
	background-color: var(--tab-border-color);
}

.mantine-Tabs-tab {
	border-bottom-width: 1px !important;
}

.podcast-details .mantine-Modal-body {
	padding: 0;
}

.podcast-details .mantine-Modal-inner>section {
	overflow: hidden;
	max-height: calc(100svh - 2rem);
	height: calc(100svh - 2rem);
}

.mantine-Card-root {
	background-color: var(--mantine-color-gray-1);
}

.mantine-Tabs-list {
	flex-wrap: nowrap;
}

[data-mantine-color-scheme='dark'] .mantine-Card-root {
	background-color: var(--mantine-color-dark-6);
}

.podcast-description {
	background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme='dark'] .podcast-description {
	background-color: var(--mantine-color-dark-6);
}

/* Spin animation for download in progress icon */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spin {
	animation: spin 1s linear infinite;
}