.mantine-Tabs-list::before {
	border: none;
	height: 1px;
	background-color: var(--tab-border-color);
}

.mantine-Tabs-tab {
	border-bottom-width: 1px !important;
}

.podcast-details .mantine-Modal-body {
	padding: 0;
}

.podcast-details .mantine-Modal-inner>section {
	overflow: hidden;
	max-height: calc(100svh - 2rem);
	height: calc(100svh - 2rem);
}