@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-mono {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

:root {
	--header-height: 60px;
	--media-control-height: 96px;
	--main-contents-tabs-height: 39px;
	--main-contents-buttons-height: 52px;
	--main-content-offset: calc(var(--header-height) + var(--media-control-height));
	--main-content-with-tabs-offset: calc(var(--header-height) + var(--media-control-height) + var(--main-contents-tabs-height));
	--main-content-with-tabs-buttons-offset: calc(var(--header-height) + var(--media-control-height) + var(--main-contents-tabs-height) + var(--main-contents-buttons-height));
	--main-content-height: calc(100svh - var(--main-content-offset));
	--main-content-with-tabs-height: calc(100svh - var(--main-content-with-tabs-offset));
	--main-content-with-tabs-buttons-height: calc(100svh - var(--main-content-with-tabs-buttons-offset));
}